# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

\.DS_Store
module4/host_memory
module4/pinnedHostmem_arithmetics
module4/pinnedHostmem_arithmetics_2D
module4/pinnedHostmem_arithmetics_fake2D
module4/pageableHostmem_arithmetics_fake2D
